<!-- templates/about.html -->
{% extends "base.html" %}

{% block content %}

<div style="width: 80%;margin: 0% 10%;">
    <h1>About this site</h1>
    <p>Hello and welcome to my personal website! My name is Javier Serrano, and I created this website using Django to
        serve as my CV, personal site, and personal portfolio.</p>

    <p>As you navigate through the various pages of this website, you'll be able to learn more about me, my skills and
        experience, and the projects I've worked on. You'll also be able to find my contact information and links to my
        social media profiles.</p>

    <p>I built this website using Django because I wanted to showcase my web development skills while also creating a
        platform to share my professional experience and personal interests. Django is a powerful framework that allows
        me to easily manage and update my content, while also providing a clean and organized user experience for
        visitors.
    </p>

    <p>Whether you're here to learn more about me, my work, or simply to say hello, I'm glad you've taken the time to
        visit my website. Please feel free to reach out to me if you have any questions or just want to connect!</p>
</div>
{% endblock content %}s