{% load static %}
<html>

<head>
    <title> Django site</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'blog' %}">Blog</a>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django site JSM</a></h1>
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>