{% extends "base.html" %}

{% block content %}
<div class="experiencia">
    <h2>Proffesional experience</h2>
    <h4> Data Analyst | Research assistant, </h4>
    <p>National Geriatrics Institute Aug 2022 – Dec 2022</p>
    <ul>
        <li>Designed and implemented an AI algorithm that segments subjects into clusters using SPSS and Python AI
            libraries such as sklearn and Keras. </li>
        <li>Examined and analyzed a database of elderly adults to identify sets of frailty development patterns,
            based on the exploration of data and the identification of parameters. </li>
        <li>Reviewed the latest methods for demographic analysis and recent discoveries of risk factors related to
            frailty.</li>
    </ul>
</div>
<div class="experiencia">
    <h4> Data education assistant,</h4>
    <p> Science Faculty, UNAM Feb 2022 – Sep 2022</p>
    <ul>
        <li>Implemented advanced mathematical methods and supervised learning computational algorithms written in
            Python. </li>
        <li>Developed tutorials and programming notebooks for teaching electrophysiological signal analysis. </li>
    </ul>
</div>
<div class="experiencia">
    <h4> Research assistant, </h4>
    <p> National Institute of Respiratory Diseases Aug 2018 – Mar 2020</p>
    <ul>
        <li>Developed an algorithm in Python to measure lung capacities and volumes from a CT inhalation and exhalation
            sequence in a multidisciplinary team. </li>
        <li>Presented at the 10th edition of the biomedical physics congress.</li>
        <li>Presented a poster at the 5th Mexican Association of Researchers of National Institutes and High Specialty
            Hospitals Congress at the Salvador Zubirán National Institute of Medical Sciences and Nutrition.</li>
    </ul>
</div>

{% endblock content %}