<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
<div style="width: 90%; display: inline-block;">
    <div style="width: 30%; display: inline-block; margin-left: 5%; vertical-align: top; ">
        <h2> Contact</h2>
        <h2> Languages</h2>
        <h2> Hard skills</h2>
    </div>

    <div style="width: 60%; margin: 0 ; display: inline-block;">
        <h1 style="margin-left: 5%;">Profile</h1>
        <p>
            I am a data scientist with a strong background in statistics, mathematics, and computer science.
            I possess expertise in using machine learning, data mining, and statistical analysis techniques to extract
            insights
            from complex data sets.
        </p>
        <p>
            I have experience working with both structured and unstructured data, and I am comfortable using a variety
            of
            programming languages such as Python, R, SQL, and JavaScript. Additionally, I have worked with various tools
            and
            frameworks, including TensorFlow, PyTorch, Scikit-learn,Pandas, and Keras.
        </p>
        <p>
            My professional experience includes designing and implementing data-driven solutions to business problems
            across
            different domains such as healthcare, education, and e-commerce. I have a proven track record of developing
            and
            deploying predictive models, and creating interactive dashboards to visualize complex data.
        </p>
        <p>
            I am an analytical thinker with excellent problem-solving skills, and I am always eager to learn new
            techniques
            and
            tools to enhance my skillset. My communication skills are strong, and I am able to convey complex concepts
            to
            both
            technical and non-technical stakeholders.
        </p>
        <p>
            Overall, I am a dedicated and results-oriented data scientist with a passion for using data to drive
            business
            growth
            and improve decision-making.
        </p>
    </div>
</div>
{% endblock content %}