<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
<div style="width: 90%; display: inline-block;">
    <div class="lateral-bar">
        <h2> Information</h2>
        <div style="display: inline-block;">
            <figure style="display: inline-block; vertical-align: top; margin: 10px;">
                {% load static %} <img src='{% static "mysite/media/location_1.png" %}' alt="location">
            </figure>
            <div style="display: inline-block; width: 50%; margin: 0%;">
                <h4 style="margin: 0%;">CDMX/Querétaro, México</h4>
            </div>
        </div>
        <div style="display: block;">
            <figure style="display: inline-block; vertical-align: top; margin: 10px;">
                {% load static %} <img src='{% static "mysite/media/phone_1.png" %}' alt="phone">
            </figure>
            <div style="display: inline-block; width: 80%; margin: 0%;">
                <p style="margin: 0%; padding-top: 4px;">+52 (442) 258 0908</p>
            </div>
        </div>
        <div style="display: inline-block;">
            <figure style="display: inline-block; vertical-align: top; margin: 10px;">
                {% load static %} <img src='{% static "mysite/media/email_1.png" %}' alt="email">
            </figure>
            <div style="display: inline-block; width: 80%; margin: 0%;">
                <p style="margin: 0%; padding-top: 4px;">jserranomolina@gmail.com</p>
            </div>
        </div>
        <div style="display: block;; margin-top: 5px;">
            <figure style="display: inline-block; vertical-align: top; margin: 5px 10px;">
                {% load static %} <img src='{% static "mysite/media/linkedin_1.png" %}' alt="linkedin">
            </figure>
            <div style="display: inline-block; width: 80%; margin: 0%;">
                <a href="https://www.linkedin.com/in/javier-serrano1/"
                    style="margin: 0%; padding-top: 8px;">javier-serrano1</a>
            </div>
        </div>
        <div style="display: block; margin-top: 5px;">
            <figure style="display: inline-block; vertical-align: top; margin: 5px 10px;">
                {% load static %} <img src='{% static "mysite/media/github_1.png" %}' alt="github">
            </figure>
            <div style="display: inline-block; width: 80%; margin: 0%;">
                <a href="https://github.com/JavierSerr/" style="margin: 0%; padding-top: 10px;">JavierSerr</a>
            </div>
        </div>
        <h2> Languages</h2>
        <p>English . Advanced C1</p>
        <p>German - Intermediate B2</p>
        <h2> Hard skills</h2>
        <ul>
            <li>Python</li>
            <li>SQL</li>
            <li>AWS</li>
            <li>Tableau</li>
            <li>Azure</li>
            <li>Docker</li>
            <li>R</li>
            <li>C</li>
            <li>CSS</li>
            <li>Java</li>
            <li>JavaScript</li>
        </ul>
    </div>

    <div style="width: 60%; margin-left: 5% ; display: inline-block;">
        <h1 style="margin-left: 5%;">Profile</h1>
        <p>
            I am a data scientist with a strong background in statistics, mathematics, and computer science.
            I possess expertise in using machine learning, data mining, and statistical analysis techniques to extract
            insights
            from complex data sets.
        </p>
        <p>
            I have experience working with both structured and unstructured data, and I am comfortable using a variety
            of
            programming languages such as Python, R, SQL, and JavaScript. Additionally, I have worked with various tools
            and
            frameworks, including TensorFlow, PyTorch, Scikit-learn,Pandas, and Keras.
        </p>
        <p>
            My professional experience includes designing and implementing data-driven solutions to business problems
            across
            different domains such as healthcare, education, and e-commerce. I have a proven track record of developing
            and
            deploying predictive models, and creating interactive dashboards to visualize complex data.
        </p>
        <p>
            I am an analytical thinker with excellent problem-solving skills, and I am always eager to learn new
            techniques
            and
            tools to enhance my skillset. My communication skills are strong, and I am able to convey complex concepts
            to
            both
            technical and non-technical stakeholders.
        </p>
        <p>
            Overall, I am a dedicated and results-oriented data scientist with a passion for using data to drive
            business
            growth
            and improve decision-making.
        </p>
    </div>
</div>
{% endblock content %}