/* static/css/base.css */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: whitesmoke;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    background-color: lightskyblue;
}

header h1 a {
    color: orange;
    text-decoration: none;
}

head {
    background-color: lightskyblue;
}

.nav-left {
    margin-right: auto;
    margin-left: 20px;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

header div.top-menu,
header div.top-menu {
    color: white;
    text-decoration: none;
}

.top-menu {
    margin-left: 10px;
}

.top-menu a,
.top-menu a:visited {
    color: white;
    margin: 0px 10px;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.greeting {
    display: block;
    margin-right: 50px;
    color: white;
}

.greeting a {
    color: blue;
}